<a href="https://colab.research.google.com/github/abisrk/beginningPandas/blob/main/beginningPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python List

In [20]:
temp = [33,42,57,63,95,88]
[x for x in temp if x > 50]

[57, 63, 95, 88]

# Pandas Series

In [23]:
import pandas as pd

tempSer = pd.Series(temp,name='Temperature',index=['S','M','T','W','Th','F'])
tempSer

S     33
M     42
T     57
W     63
Th    95
F     88
Name: Temperature, dtype: int64

In [137]:
print(tempSer[tempSer > 50])
print(tempSer[(tempSer > 55) & (tempSer < 80)])

T     57
W     63
Th    95
F     88
Name: Temperature, dtype: int64
T    57
W    63
Name: Temperature, dtype: int64

# loc, iloc

In [29]:
print(tempSer['M'])
print(tempSer.loc['M'])
print(tempSer.iloc[1])
print(tempSer.iloc[-2])

42
42
42
95

In [32]:
tempSer2 = pd.Series(temp,name='Temperature',index=['S','M','T','W','Th','F'])
tempSer2.index

Index(['S', 'M', 'T', 'W', 'Th', 'F'], dtype='object')

# pd.date_range

In [61]:
dates = pd.date_range(start='2021',periods=6,freq='Y',normalize=True)
tempSer3 = pd.Series(temp,name='Temperature',index=dates)
tempSer3

2021-12-31    33
2022-12-31    42
2023-12-31    57
2024-12-31    63
2025-12-31    95
2026-12-31    88
Freq: A-DEC, Name: Temperature, dtype: int64

In [62]:
tempSer3.index

DatetimeIndex(['2021-12-31', '2022-12-31', '2023-12-31', '2024-12-31',
               '2025-12-31', '2026-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [63]:
tempSer3.dtype

dtype('int64')

# Pandas datatypes

In [42]:
tempSer1 = pd.Series(range(5))
tempSer1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [93]:
tempSer2 = pd.Series([1.1,2,3,4,5])
tempSer2

0    1.1
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

# Category data type

In [94]:
alist = ['ford','accord','chevy','ford','prius']
tempSer3 = pd.Series(alist,dtype='category')
tempSer3

0      ford
1    accord
2     chevy
3      ford
4     prius
dtype: category
Categories (4, object): ['accord', 'chevy', 'ford', 'prius']

In [66]:
tempSer3.index

RangeIndex(start=0, stop=5, step=1)

In [67]:
tempSer3.values

['ford', 'accord', 'chevy', 'ford', 'prius']
Categories (4, object): ['accord', 'chevy', 'ford', 'prius']

# CRUD

In [103]:
tempSer4 = tempSer3.append(pd.Series(['tesla']))  # Add
tempSer4

0      ford
1    accord
2     chevy
3      ford
4     prius
0     tesla
dtype: object

In [92]:
tempSer4[2] = 'ford'  # update
tempSer4

0      ford
1    accord
2      ford
3      ford
4     prius
0     tesla
dtype: object

In [117]:
tempSer4 = tempSer4.astype('category')
tempSer4

0      ford
1    accord
2     chevy
0     tesla
dtype: category
Categories (4, object): ['accord', 'chevy', 'ford', 'tesla']

In [108]:
tempSer2 * 2 # update

0     2.2
1     4.0
2     6.0
3     8.0
4    10.0
dtype: float64

In [114]:
tempSer4.pop(3)

'ford'

In [118]:
tempSer4

0      ford
1    accord
2     chevy
0     tesla
dtype: category
Categories (4, object): ['accord', 'chevy', 'ford', 'tesla']

# Iteration

In [77]:
temp1 = [30,45,60,90]
ser1 = pd.Series(temp1)
ser1

0    30
1    45
2    60
3    90
dtype: int64

In [78]:
for n in ser1:
    print(n)

30
45
60
90

In [87]:
for ind , val in ser1.items():
    print(f"Index : {ind}, Value : {val}")

Index : 0, Value : 30
Index : 1, Value : 45
Index : 2, Value : 60
Index : 3, Value : 90

# contains

In [79]:
45 in ser1  # looks in indexes. so false.

False

In [80]:
45 in ser1.values # look for value

True

In [81]:
99 in ser1.values

False

# Broadcasting

In [89]:
temp2 = [30,45,60,90]
ser2 = pd.Series(temp2)
ser2

0    30
1    45
2    60
3    90
dtype: int64

In [90]:
ser1.astype(float)

0    30.0
1    45.0
2    60.0
3    90.0
dtype: float64

# statistics

In [119]:
temp1 = [30,45,60,90]
ser1 = pd.Series(temp1)
ser1.mean()

56.25

In [120]:
ser1.median()

52.5

In [121]:
ser1.mode()

0    30
1    45
2    60
3    90
dtype: int64

In [126]:
ser1.describe()

count     4.000000
mean     56.250000
std      25.617377
min      30.000000
25%      41.250000
50%      52.500000
75%      67.500000
max      90.000000
dtype: float64

In [124]:
alist = ['ford','accord','chevy','ford','prius','camary','prius']
tempSer3 = pd.Series(alist,dtype='category')
tempSer3.value_counts()

prius     2
ford      2
chevy     1
camary    1
accord    1
dtype: int64

In [125]:
tempSer3.describe()

count         7
unique        5
top       prius
freq          2
dtype: object

In [128]:
ser5 = tempSer3.describe()
ser5.top

'prius'

# Duplicates

In [130]:
alist = ['ford','accord','chevy','ford','prius','camary','prius']
tempSer6 = pd.Series(alist,name='Cars')
tempSer6

0      ford
1    accord
2     chevy
3      ford
4     prius
5    camary
6     prius
Name: Cars, dtype: object

In [131]:
tempSer6.duplicated()

0    False
1    False
2    False
3     True
4    False
5    False
6     True
Name: Cars, dtype: bool

In [132]:
tempSer6.duplicated().any()

True

In [133]:
tempSer6.duplicated().all()

False

In [153]:
print(f"tempSer6 : \n {tempSer6} \n")
mask = tempSer6.duplicated(keep=False)   # list of duplicates
print(f"Mask : \n {mask} \n")
print(f"unique list of items : \n {tempSer6[~mask]} \n")               # items that dont repeat. 
print(f"duplicated ones are : \n {tempSer6[mask]}")                 # items that repeat

tempSer6 :
 0      ford
1    accord
2     chevy
3      ford
4     prius
5    camary
6     prius
Name: Cars, dtype: object

Mask :
 0     True
1    False
2    False
3     True
4     True
5    False
6     True
Name: Cars, dtype: bool

unique list of items :
 1    accord
2     chevy
5    camary
Name: Cars, dtype: object

duplicated ones are :
 0     ford
3     ford
4    prius
6    prius
Name: Cars, dtype: object

In [159]:
print(tempSer6)
tempSer7 = tempSer6.drop_duplicates(keep=False)
tempSer7

0      ford
1    accord
2     chevy
3      ford
4     prius
5    camary
6     prius
Name: Cars, dtype: object

1    accord
2     chevy
5    camary
Name: Cars, dtype: object